/* -- TAMAÑO TELÉFONO -- */
@mixin telefono {
  @media (min-width: $telefono) {
    @content;
  }
}

/* -- TAMAÑO TABLET -- */
@mixin tablet {
  @media (min-width: $tablet) {
    @content;
  }
}

/* -- TAMAÑO DESKTOP -- */
@mixin desktop {
  @media (min-width: $desktop) {
    @content;
  }
}

/* -- TAMAÑO DESKTOP XL -- */
@mixin desktopXL {
  @media (min-width: $desktopXL) {
    @content;
  }
}

/* -- CSS GRID -- */
@mixin grid($columnas, $espaciado) {
  display: grid;
  grid-template-columns: repeat($columnas, 1fr);
  gap: $espaciado;
}

/* -- RESETEAR LISTA -- */
@mixin resetear-lista {
  margin: 0;
  padding: 0;
  list-style: none;
}

@mixin sombra {
  -webkit-box-shadow: 3px 2px 11px -1px rgba(0, 0, 0, 0.75);
  -moz-box-shadow: 3px 2px 11px -1px rgba(0, 0, 0, 0.75);
  box-shadow: 3px 2px 11px -1px rgba(0, 0, 0, 0.75);
}

@mixin sombra-texto{
  text-shadow: black 0.1em 0.1em 0.2em
}
