@use "variables" as v;

/* -- TAMAÑO TELÉFONO -- */
@mixin telefono {
  @media (min-width: v.$telefono) {
    @content;
  }
}

/* -- TAMAÑO TABLET -- */
@mixin tablet {
  @media (min-width: v.$tablet) {
    @content;
  }
}

/* -- TAMAÑO DESKTOP -- */
@mixin desktop {
  @media (min-width: v.$desktop) {
    @content;
  }
}

/* -- TAMAÑO DESKTOP XL -- */
@mixin desktopXL {
  @media (min-width: v.$desktopXL) {
    @content;
  }
}

/* -- CSS GRID -- */
@mixin grid($columnas, $espaciado) {
  display: grid;
  grid-template-columns: repeat($columnas, 1fr);
  gap: $espaciado;
}

/* -- RESETEAR LISTA -- */
@mixin resetear-lista {
  margin: 0;
  padding: 0;
  list-style: none;
}
