/* -- Estilos para lineup -- */
.lineup {
  background-color: $rosa;
  padding: 5rem 0;

  h3,
  p {
    text-align: center;
    color: $blanco;
    @include sombra-texto;
  }

  .dia {
    @include sombra;
    @include sombra-texto;
    text-transform: uppercase;
    margin: 5rem 30%;
    background-color: darken($rosa, 15%);
  }
}

/* -- Estilos para para los escenarios -- */
.escenarios-contenedor {
  @include tablet {
    @include grid(2, 5rem);
  }

  p {
    color: $negro;
  }
}

.escenario {
  @include sombra;

  padding-top: 2rem;

  p {
    &:after {
      content: "";
      display: block;
      width: 20rem;
      height: 10rem;
      background-size: 15rem;
      background-repeat: no-repeat;
      background-position: center center;
      margin: 2rem auto 0 auto;
    }
  }
}

.rock .nombre-escenario:after {
  background-image: url("../img/icono_rock.png");
}

.edm .nombre-escenario:after {
  background-image: url("../img/icono_edm.png");
}

/* -- Estilos para el calendario -- */
.calendario {
  @include resetear-lista;

  li {
    padding: 2.5rem;
    font-weight: 700;

    span {
      font-weight: 400;
    }
  }
}

.bg-amarillo {
  background-color: $amarillo;

  li:nth-child(odd) {
    background-color: darken($amarillo, 15%);
  }
}

.bg-verde {
  background-color: $verde;

  li:nth-child(odd) {
    background-color: darken($verde, 10%);
  }
}
